@font-face {
    font-family: 'SquareFont';
    src: url('../../fonts/nothing.ttf') format('truetype');
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 16vh;
}


.chat{
    width: 70%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.13);
    animation: fadeIn 1s ease;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: end;
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input-container{
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: center;
    pointer-events: fill;
}

#inputBlock{
    margin-top: -10vh;
    width: 70%;
    background-color: transparent;
    animation: fadeIn 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    z-index: 2;
}

#chatInput{
    background-color: rgba(0, 0, 0, 0.714);
    width: 90%;
    border: 1px solid rgba(47, 46, 47, 0.367);
    border-radius: 10px;
    font-size: 0.8rem;
    padding: 1rem;
    font-family: "SquareFont";
    color: white;
}

#sendButton{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.151);
    border-radius: 50%;
    font-size: 0.8rem;
    padding:1rem;
    margin-left: 1rem;
    cursor: pointer;
    color: rgb(255, 0, 119);
    font-family: "SquareFont";
    margin: 0.8;
    transition: all 0.8s ease;
    display: flex;
    justify-content: center;
}

.animate{
    animation: clickAnimation 0.5s ease;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.sendIcon{
    background-color: transparent;
    width: 1.5rem;
}

.bubbles{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background-color: transparent;
    margin-bottom: 8vh;
    overflow-y: auto;
    z-index: 3;
    font-size: 0.8rem;
}

.bubble{
    background-color: rgba(0, 0, 0, 0.714);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-family: "SquareFont";
    color: white;
    max-width: 50%;
    word-wrap: break-word;
}

.bubbleIa{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    font-family: "SquareFont";
    max-width: 50%;
    word-wrap: break-word;
    -ms-flex-align: start;
}

#route4{
    color: rgb(255, 0, 119) !important;
}
